/__pycache__/databaseManager.cpython-38.pyc
/__pycache__/metadataLoader.cpython-38.pyc
/main_window/form.ui
/main_window/main_window.pyproject
/main_window/main_window.pyproject.user
/.idea/runConfigurations/metadata_to_sqlite.xml
/__pycache__/databaseManager.cpython-38.pyc
/__pycache__/metadataLoader.cpython-38.pyc
/main_window/form.ui
/main_window/main_window.pyproject
/main_window/main_window.pyproject.user
